table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  .admin-home{
    padding: 70px;
  }
.admin-home a{
  font-size: larger;
  color: blueviolet;
  margin-bottom: 20px;
  
}
.link-div{
  text-align: left;
}